/*
 * Component: Box
 * --------------
 */
.simple-chat .box
{
    position: relative;

    width: 100%;
    margin-bottom: 20px;

    border-top: 3px solid #d2d6de;
    border-radius: 3px;
    background: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
}
.simple-chat .box.box-primary
{
    border-top-color: #3c8dbc;
}
.simple-chat .box.box-info
{
    border-top-color: #00c0ef;
}
.simple-chat .box.box-danger
{
    border-top-color: #dd4b39;
}
.simple-chat .box.box-success
{
    border-top-color: #00a65a;
}
.simple-chat .box.box-default
{
    border-top-color: #d2d6de;
}
.simple-chat .box.collapsed-box .box-body,
.simple-chat .box.collapsed-box .box-footer
{
    display: none;
}
.simple-chat .simple-chat .box .nav-stacked > li
{
    margin: 0;

    border-bottom: 1px solid #f4f4f4;
}
.simple-chat .box .nav-stacked > li:last-of-type
{
    border-bottom: none;
}
.simple-chat .box.height-control .box-body
{
    overflow: auto;

    max-height: 300px;
}
.simple-chat .box .border-right
{
    border-right: 1px solid #f4f4f4;
}
.simple-chat .box .border-left
{
    border-left: 1px solid #f4f4f4;
}
.simple-chat .box.box-solid
{
    border-top: 0;
}
.simple-chat .box.box-solid > .box-header .btn.btn-default
{
    background: transparent;
}
.simple-chat .box.box-solid > .box-header .btn:hover,
.simple-chat .box.box-solid > .box-header a:hover
{
    background: rgba(0, 0, 0, .1);
}
.simple-chat .box.box-solid.box-default
{
    border: 1px solid #d2d6de;
}
.simple-chat .box.box-solid.box-default > .box-header
{
    color: #444;
    background: #d2d6de;
    background-color: #d2d6de;
}
.simple-chat .box.box-solid.box-default > .box-header a,
.simple-chat .box.box-solid.box-default > .box-header .btn
{
    color: #444;
}
.simple-chat .box.box-solid.box-primary
{
    border: 1px solid #3c8dbc;
}
.simple-chat .box.box-solid.box-primary > .box-header
{
    color: #fff;
    background: #3c8dbc;
    background-color: #3c8dbc;
}
.simple-chat .box.box-solid.box-primary > .box-header a,
.simple-chat .box.box-solid.box-primary > .box-header .btn
{
    color: #fff;
}
.simple-chat .box.box-solid.box-info
{
    border: 1px solid #00c0ef;
}
.simple-chat .box.box-solid.box-info > .box-header
{
    color: #fff;
    background: #00c0ef;
    background-color: #00c0ef;
}
.simple-chat .box.box-solid.box-info > .box-header a,
.simple-chat .box.box-solid.box-info > .box-header .btn
{
    color: #fff;
}
.simple-chat .box.box-solid.box-danger
{
    border: 1px solid #dd4b39;
}
.simple-chat .box.box-solid.box-danger > .box-header
{
    color: #fff;
    background: #dd4b39;
    background-color: #dd4b39;
}
.simple-chat .box.box-solid.box-danger > .box-header a,
.simple-chat .box.box-solid.box-danger > .box-header .btn
{
    color: #fff;
}
.simple-chat .box.box-solid.box-warning
{
    border: 1px solid #f39c12;
}
.simple-chat .box.box-solid.box-warning > .box-header
{
    color: #fff;
    background: #f39c12;
    background-color: #f39c12;
}
.simple-chat .box.box-solid.box-warning > .box-header a,
.simple-chat .box.box-solid.box-warning > .box-header .btn
{
    color: #fff;
}
.simple-chat .box.box-solid.box-success
{
    border: 1px solid #00a65a;
}
.simple-chat .box.box-solid.box-success > .box-header
{
    color: #fff;
    background: #00a65a;
    background-color: #00a65a;
}
.simple-chat .box.box-solid.box-success > .box-header a,
.box.box-solid.box-success > .box-header .btn
{
    color: #fff;
}
.simple-chat .box.box-solid > .box-header > .box-tools .btn
{
    border: 0;
    box-shadow: none;
}
.simple-chat .box.box-solid[class*='bg'] > .box-header
{
    color: #fff;
}
.simple-chat .box .box-group > .box
{
    margin-bottom: 5px;
}
.simple-chat .box .knob-label
{
    font-size: 12px;
    font-weight: 100;

    margin-bottom: .3em;

    text-align: center;

    color: #333;
}
.simple-chat .box > .overlay,
.simple-chat .overlay-wrapper > .overlay,
.simple-chat .box > .loading-img,
.simple-chat .overlay-wrapper > .loading-img
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}
.simple-chat .box .overlay,
.simple-chat .overlay-wrapper .overlay
{
    z-index: 50;

    border-radius: 3px;
    background: rgba(255, 255, 255, .7);
}
.simple-chat .box .overlay > .fa,
.simple-chat .overlay-wrapper .overlay > .fa
{
    font-size: 30px;

    position: absolute;
    top: 50%;
    left: 50%;

    margin-top: -15px;
    margin-left: -15px;

    color: #000;
}
.simple-chat .box .overlay.dark,
.simple-chat .overlay-wrapper .overlay.dark
{
    background: rgba(0, 0, 0, .5);
}
.simple-chat .box-header:before,
.simple-chat .box-body:before,
.simple-chat .box-footer:before,
.simple-chat .box-header:after,
.simple-chat .box-body:after,
.simple-chat .box-footer:after
{
    display: table;

    content: ' ';
}
.simple-chat .box-header:after,
.simple-chat .box-body:after,
.simple-chat .box-footer:after
{
    clear: both;
}
.simple-chat .box-header
{
    position: relative;

    display: block;

    padding: 10px;

    color: #444;
}
.simple-chat .box-header.with-border
{
    border-bottom: 1px solid #f4f4f4;
}
.simple-chat .collapsed-box .box-header.with-border
{
    border-bottom: none;
}
.simple-chat .box-header > .fa,
.simple-chat .box-header > .glyphicon,
.simple-chat .box-header > .ion,
.simple-chat .box-header .box-title
{
    font-size: 18px;
    line-height: 1;

    display: inline-block;

    margin: 0;
}
.simple-chat .box-header > .fa,
.simple-chat .box-header > .glyphicon,
.simple-chat .box-header > .ion
{
    margin-right: 5px;
}
.simple-chat .box-header > .box-tools
{
    position: absolute;
    top: 5px;
    right: 10px;
}
.simple-chat .box-header > .box-tools [data-toggle='tooltip']
{
    position: relative;
}
.simple-chat .box-header > .box-tools.pull-right .dropdown-menu
{
    right: 0;
    left: auto;
}
.simple-chat .btn-box-tool
{
    font-size: 12px;

    padding: 5px;

    color: #97a0b3;
    background: transparent;
}
.simple-chat .open .btn-box-tool,
.simple-chat .btn-box-tool:hover
{
    color: #606c84;
}
.simple-chat .btn-box-tool.btn:active
{
    box-shadow: none;
}
.simple-chat .box-body
{
    padding: 10px;

    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.simple-chat .no-header .box-body
{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.simple-chat .box-body > .table
{
    margin-bottom: 0;
}
.simple-chat .box-body .fc
{
    margin-top: 5px;
}
.simple-chat .box-body .full-width-chart
{
    margin: -19px;
}
.simple-chat .box-body.no-padding .full-width-chart
{
    margin: -9px;
}
.simple-chat .box-body .box-pane
{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 3px;
}
.simple-chat .box-body .box-pane-right
{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 0;
}
.simple-chat .box-footer
{
    padding: 10px;

    border-top: 1px solid #f4f4f4;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: #fff;
}
.simple-chat chart-legend
{
    margin: 10px 0;
}
@media (max-width: 991px)
{
    .simple-chat .chart-legend > li
    {
        float: left;
        margin-right: 10px;
    }
}
.simple-chat .box-comments
{
    background: #f7f7f7;
}
.simple-chat .box-comments .box-comment
{
    padding: 8px 0;
    border-bottom: 1px solid #eee;
}
.simple-chat .box-comments .box-comment:before,
.simple-chat .box-comments .box-comment:after
{
    display: table;
    content: ' ';
}
.simple-chat .box-comments .box-comment:after
{
    clear: both;
}
.simple-chat .box-comments .box-comment:last-of-type
{
    border-bottom: 0;
}
.simple-chat .box-comments .box-comment:first-of-type
{
    padding-top: 0;
}
.simple-chat .box-comments .box-comment img
{
    float: left;
}
.simple-chat .box-comments .comment-text
{
    margin-left: 40px;

    color: #555;
}
.simple-chat .box-comments .username
{
    font-weight: 600;
    display: block;
    color: #444;
}
.simple-chat .box-comments .text-muted
{
    font-size: 12px;
    font-weight: 400;
}

.simple-chat .chat
{
    padding: 5px 20px 5px 10px;
}
.simple-chat .chat .item
{
    margin-bottom: 10px;
}
.simple-chat .chat .item:before,
.simple-chat .chat .item:after
{
    display: table;
    content: ' ';
}
.simple-chat .chat .item:after
{
    clear: both;
}
.simple-chat .chat .item > img
{
    width: 40px;
    height: 40px;
    border: 2px solid transparent;
    border-radius: 50%;
}
.simple-chat .chat .item > .online
{
    border: 2px solid #00a65a;
}
.simple-chat .chat .item > .offline
{
    border: 2px solid #dd4b39;
}
.simple-chat .chat .item > .message
{
    margin-top: -40px;
    margin-left: 55px;
}
.simple-chat .chat .item > .message > .name
{
    font-weight: 600;
    display: block;
}
.simple-chat .chat .item > .attachment
{
    margin-right: 15px;
    margin-left: 65px;
    padding: 10px;
    border-radius: 3px;
    background: #f4f4f4;
}
.simple-chat .chat .item > .attachment > h4
{
    font-size: 14px;
    font-weight: 600;
    margin: 0 0 5px 0;
}
.simple-chat .chat .item > .attachment > p,
.simple-chat .chat .item > .attachment > .filename
{
    font-size: 13px;
    font-weight: 600;
    font-style: italic;
    margin: 0;
}
.simple-chat .chat .item > .attachment:before,
.simple-chat .chat .item > .attachment:after
{
    display: table;
    content: ' ';
}
.simple-chat .chat .item > .attachment:after
{
    clear: both;
}
.simple-chat .box-input
{
    max-width: 200px;
}
.simple-chat .modal .panel-body
{
    color: #444;
}
/*
 * Component: Direct Chat
 * ----------------------
 */
.simple-chat .direct-chat .box-body
{
    position: relative;
    overflow-x: hidden;
    padding: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.simple-chat .direct-chat.chat-pane-open .direct-chat-contacts
{
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
         -o-transform: translate(0, 0);
            transform: translate(0, 0);
}
.simple-chat .direct-chat-messages
{
    overflow-x: hidden;
    overflow-y: auto;
    height: 250px;
    padding: 10px;
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
         -o-transform: translate(0, 0);
            transform: translate(0, 0);
}
.simple-chat .direct-chat-msg,
.simple-chat .direct-chat-text
{
    display: block;
    word-wrap: break-word;
}

.simple-chat .direct-chat-msg
{
    margin-bottom: 10px;
}
.simple-chat .direct-chat-msg:before,
.simple-chat .direct-chat-msg:after
{
    display: table;
    content: ' ';
}
.simple-chat .direct-chat-msg:after
{
    clear: both;
}
.simple-chat .direct-chat-messages,
.simple-chat .direct-chat-contacts
{
    -webkit-transition: -webkit-transform .5s ease-in-out;
       -moz-transition:    -moz-transform .5s ease-in-out;
         -o-transition:      -o-transform .5s ease-in-out;
            transition:         transform .5s ease-in-out;
}
.simple-chat .direct-chat-text
{
    position: relative;
    margin: 5px 0 0 50px;
    padding: 5px 10px;
    color: #444;
    border: 1px solid #d2d6de;
    border-radius: 5px;
    background: #d2d6de;
}
.simple-chat .direct-chat-text:after,
.simple-chat .direct-chat-text:before
{
    position: absolute;
    top: 15px;
    right: 100%;
    width: 0;
    height: 0;
    content: ' ';
    pointer-events: none;
    border: solid transparent;
    border-right-color: #d2d6de;
}
.simple-chat .direct-chat-text:after
{
    margin-top: -5px;
    border-width: 5px;
}
.simple-chat .direct-chat-text:before
{
    margin-top: -6px;
    border-width: 6px;
}
.simple-chat .right .direct-chat-text
{
    margin-right: 50px;
    margin-left: 0;
}
.simple-chat .right .direct-chat-text:after,
.simple-chat .right .direct-chat-text:before
{
    right: auto;
    left: 100%;
    border-right-color: transparent;
    border-left-color: #d2d6de;
}
.simple-chat .direct-chat-img
{
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.simple-chat .right .direct-chat-img
{
    float: right;
}
.simple-chat .direct-chat-info
{
    font-size: 12px;
    display: block;
    margin-bottom: 2px;
}
.simple-chat .direct-chat-name
{
    font-weight: 600;
}
.simple-chat .direct-chat-timestamp
{
    color: #999;
}
.simple-chat .direct-chat-contacts-open .direct-chat-contacts
{
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
         -o-transform: translate(0, 0);
            transform: translate(0, 0);
}
.simple-chat .direct-chat-contacts
{
    position: absolute;
    top: 0;
    bottom: 0;
    overflow: auto;
    width: 100%;
    height: 250px;
    -webkit-transform: translate(101%, 0);
        -ms-transform: translate(101%, 0);
         -o-transform: translate(101%, 0);
            transform: translate(101%, 0);

    color: #fff;
    background: #222d32;
}
.simple-chat .contacts-list > li
{
    margin: 0;
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}
.simple-chat .contacts-list > li:before,
.simple-chat .contacts-list > li:after
{
    display: table;
    content: ' ';
}
.simple-chat .contacts-list > li:after
{
    clear: both;
}
.simple-chat .contacts-list > li:last-of-type
{
    border-bottom: none;
}
.simple-chat .contacts-list-img
{
    float: left;
    width: 40px;
    border-radius: 50%;
}
.simple-chat .contacts-list-info
{
    margin-left: 45px;
    color: #fff;
}
.simple-chat .contacts-list-name,
.simple-chat .contacts-list-status
{
    display: block;
}
.simple-chat .contacts-list-name
{
    font-weight: 600;
}
.simple-chat .contacts-list-status
{
    font-size: 12px;
}
.simple-chat .contacts-list-date
{
    font-weight: normal;
    color: #aaa;
}
.simple-chat .contacts-list-msg
{
    color: #999;
}
.simple-chat .direct-chat-danger .right > .direct-chat-text
{
    color: #fff;
    border-color: #dd4b39;
    background: #dd4b39;
}
.simple-chat .direct-chat-danger .right > .direct-chat-text:after,
.simple-chat .direct-chat-danger .right > .direct-chat-text:before
{
    border-left-color: #dd4b39;
}
.simple-chat .direct-chat-primary .right > .direct-chat-text
{
    color: #fff;
    border-color: #3c8dbc;
    background: #3c8dbc;
}
.simple-chat .direct-chat-primary .right > .direct-chat-text:after,
.simple-chat .direct-chat-primary .right > .direct-chat-text:before
{
    border-left-color: #3c8dbc;
}
.simple-chat .direct-chat-warning .right > .direct-chat-text
{
    color: #fff;
    border-color: #f39c12;
    background: #f39c12;
}
.simple-chat .direct-chat-warning .right > .direct-chat-text:after,
.simple-chat .direct-chat-warning .right > .direct-chat-text:before
{
    border-left-color: #f39c12;
}
.simple-chat .direct-chat-info .right > .direct-chat-text
{
    color: #fff;
    border-color: #00c0ef;
    background: #00c0ef;
}
.simple-chat .direct-chat-info .right > .direct-chat-text:after,
.simple-chat .direct-chat-info .right > .direct-chat-text:before
{
    border-left-color: #00c0ef;
}
.simple-chat .direct-chat-success .right > .direct-chat-text
{
    color: #fff;
    border-color: #00a65a;
    background: #00a65a;
}
.simple-chat .direct-chat-success .right > .direct-chat-text:after,
.simple-chat .direct-chat-success .right > .direct-chat-text:before
{
    border-left-color: #00a65a;
}

.simple-chat .chat-scroll
{
    background-color: #fff;
}
.simple-chat .right .direct-chat-name
{
    float: right !important;
}
.simple-chat .right .direct-chat-name
{
    float: right !important;
}
.simple-chat .right .direct-chat-timestamp
{
    float: left !important;
}
.simple-chat .spinner
{
    font-size: 10px;
    width: 50px;
    height: 40px;
    margin: 100px auto;
    text-align: center;
}
.simple-chat .spinner > div
{
    display: inline-block;
    width: 6px;
    height: 100%;
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
            animation: sk-stretchdelay 1.2s infinite ease-in-out;
    background-color: #333;
}
.simple-chat .spinner .rect2
{
    -webkit-animation-delay: -1.1s;
            animation-delay: -1.1s;
}
.simple-chat .spinner .rect3
{
    -webkit-animation-delay: -1.0s;
            animation-delay: -1.0s;
}
.simple-chat .spinner .rect4
{
    -webkit-animation-delay: -.9s;
            animation-delay: -.9s;
}
.simple-chat .spinner .rect5
{
    -webkit-animation-delay: -.8s;
            animation-delay: -.8s;
}
@-webkit-keyframes sk-stretchdelay
{
    0%,
    40%,
    100%
    {
        -webkit-transform: scaleY(.4);
    }
    20%
    {
        -webkit-transform: scaleY(1.0);
    }
}
@keyframes sk-stretchdelay
{
    0%,
    40%,
    100%
    {
        -webkit-transform: scaleY(.4);
                transform: scaleY(.4);
    }  20%
    {
        -webkit-transform: scaleY(1.0);
                transform: scaleY(1.0);
    }
}

/**
*Fonts ICONS
**/

@charset 'UTF-8';

@font-face
{
    font-family: 'chat';
    font-weight: normal;
    font-style: normal;
    src: url('/packages/cesarve_simple-chat/assets/fonts/chat.eot');
    src: url('/packages/cesarve_simple-chat/assets/fonts/chat.eot?#iefix') format('embedded-opentype'),
    url('/packages/cesarve_simple-chat/assets/fonts/chat.woff') format('woff'),
    url('/packages/cesarve_simple-chat/assets/fonts/chat.ttf') format('truetype'),
    url('/packages/cesarve_simple-chat/assets/fonts/chat.svg#chat') format('svg');
}
.simple-chat [data-icon]:before
{
    font-family: 'chat' !important;
    font-weight: normal !important;
    font-style: normal !important;
    font-variant: normal !important;
    line-height: 1;
    content: attr(data-icon);
    text-transform: none !important;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.simple-chat [class^='icon-']:before,
.simple-chat [class*=' icon-']:before
{
    font-family: 'chat' !important;
    font-weight: normal !important;
    font-style: normal !important;
    font-variant: normal !important;
    line-height: 1;
    text-transform: none !important;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.simple-chat .icon-check:before
{
    content: '\76';
}
.simple-chat .icon-minimize:before
{
    content: '\2d';
}
.simple-chat .icon-close:before
{
    content: '\78';
}
.simple-chat .icon-chat-bubble:before
{
    content: '\61';
}
.simple-chat .icon-chat-bubbles:before
{
    content: '\62';
}
.simple-chat .icon-chat-bubble-2:before
{
    content: '\63';
}
.simple-chat .icon-chat-bubbles-3:before
{
    content: '\64';
}
.simple-chat .icon-commenting-2:before
{
    content: '\65';
}
.simple-chat .icon-commenting:before
{
    content: '\66';
}
.simple-chat .icon-clock:before
{
    content: '\67';
}
.simple-chat .direct-chat-checks i:last-child
{
    margin-right: 8px;
}
.simple-chat .direct-chat-checks i
{
    font-size: 9px;
    margin: 0;
    padding: 0;
    letter-spacing: -8px;
}
.simple-chat .direct-chat-checks
{
    position: absolute;
    right: 0;
    bottom: -4px;
    color: #d2d6de;
}
.simple-chat .chat-viewed
{
    color: #f7f7f7;
}
.simple-chat .direct-chat-msg.join .direct-chat-img
{
    width: 25px;
    height: 25px;
    margin-right: 8px;
}
.simple-chat .direct-chat-msg.join .direct-chat-info span
{
    font-weight: normal !important;
    line-height: 25px;
}
.simple-chat .direct-chat-msg.join .direct-chat-name
{
    line-height: 25px;
}
